button {
  background-color: #0a2328;
  box-shadow: none;
  background-image: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 10px 0 0 0;
}

textarea {
  resize: vertical;
  min-height: 100px;
  text-transform: none;
  letter-spacing: 0px;
}

.roll-btn {
  background-image: url(./dice-d20-solid.svg);
  background-color: #ddd;
}

.harmclock {
  width: 408px;
  height: 68px;
  background-image: url(./media/img/harm_default.jpg);
}

input.harm[type='radio']:checked ~ .harmclock {
  background-image: url(./media/img/harm_default.jpg);
}

body,
html * {
  font-family: 'Lucida Console', Moncao, monospace;
}

body {
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
}

#root {
  height: 100vh;
}

label,
input,
select,
option,
span,
p,
h1,
h2,
h3 {
  color: #74ffe6;
  text-shadow: 0px 0px 12px rgb(3, 255, 150);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 1.5rem;
}

label,
input,
select,
option,
span,
p {
  padding-top: 6px;
  font-size: 0.8em;
}

label {
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 10px;
  line-height: 18px;
}

select {
  background: #0a2328;
  border: 1px #44e6cf solid;
}

#app {
  height: auto;
  background-color: #0a2328;
  overflow: hidden;
  height: 100%;
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
}

#app::-webkit-scrollbar {
  width: 8px;
  background-color: #19867e;
  border: none;
}

#app::-webkit-scrollbar-corner {
  background-color: #19867e;
  border: none;
}

#app::-webkit-scrollbar-track {
  background-color: #041012;
  border-left: 1px solid #ccc;
  border: none;
}

#app::-webkit-scrollbar-thumb {
  background-color: #19867e;
  border-radius: 0px;
  border: none;
}

#app::-webkit-scrollbar-thumb:hover {
  background-color: #19867e;
  border: none;
}

input[type='number'] {
  width: 3em;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

input {
  color: #f0fffc;
  background-color: #123138;
  border-width: 0px 0px 1px 0px;
  line-height: 18px;
}

textarea {
  background-color: #123138;
  border: solid #43e6cf;
  border-width: 0px 0px 1px 0px;
  border-radius: 0;
  color: #f0fffc;
  text-shadow: 0px 0px 14px rgb(0, 255, 187);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 18px;
  display: inline-block;
}

#attribution {
  color: #000;
  position: absolute;
  height: 30px;
  left: 15pxg;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal > div {
  z-index: 11;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal:empty {
  display: none;
}

#tag-modal:empty {
  display: none;
}

#tag-modal {
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tag-modal > div {
  position: absolute;
  top: 25%;
  right: 0;
  max-width: 200px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .character-container {
    padding: 10px;
  }
}
